<%- include("partials/header"); -%>
<body>
    <%  users.forEach(function(user){ %>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" href="/profile/<%=user.userId%>"><%=user.user%></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%=user.email%></h6>
              <a href="/upload/week/<%=user.userId%>" class="card-link">Weekly-streams</a>
              <a href="/upload/br/<%=user.userId%>" class="card-link">BUY/RENT</a>
            </div>
          </div>   
    
    <% }) %>
</body>
<%- include("partials/footer"); -%>